html, body {
    margin: 1px;
    padding: 0;
}

body {
    font-family: 'Calibri', Arial, 'sans-serif';
}

h1, h5 {
    margin: 0;
    padding: 0;
}

input {
    font: inherit;
}

select {
    font: inherit;
}

.textAlignCenter {
    text-align: center;
}

.tasksContainer {
    width: 100%;
    max-width: 40em;
    margin: auto;
    border: solid 1px darkgray;
    border-radius: 10px;
    padding: 1em;
    box-sizing: border-box;
}

.tasksLabel {
    background-color: darkgray;
    border-radius: 10px;
    margin: -0.5em;
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: center;
    color: white;
}

.tasksFilter {
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
    border: solid 1px darkgray;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.tasksTable {
    width: 100%;
    border-bottom: solid 1px darkgray;
}

.tasksHeader {
    background-color: darkgray;
    color: white;
}

.tasksItem:nth-child(odd) {
    background-color: #EEEEEE;
}

.tasksColumn {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.tasksColumnDone {
    border-top: solid 1px darkgray;
    width: 4em;
}

.tasksColumnDescription {
    border-top: solid 1px darkgray;
    width: auto;
}

.tasksColumnDelete {
    border-top: solid 1px darkgray;
    width: 5.2em;
}

.tasksColumnEdit {
    border-top: solid 1px darkgray;
    width: 5.2em;
}

.button {
    border: solid 1px darkgray;
    border-radius: 5px;
    -webkit-appearance: none;
    height: 2em;
}

.taskButton {
    width: 90%;
}

.taskDescription {
    display: block;
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
    border: solid 1px darkgray;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.addButton {
    width: 5em;
}

.cancelButton {
    width: 5em;
}

.copy {
    max-width: 40em;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}